.btn__group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn__rdv,
.btn__voirPlus {
    background:#FDFDFE;
    color: #6D6D6E;
    padding: 12px 24px;
    border: 1px solid #6D6D6E;
    text-align: center;
    font-weight:600;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn__rdv:hover,
.btn__voirPlus:hover
{ 
    background:#060606; 
    color: #DDDBD9;

}

.language_link{
    color: #DDDBD9;
}

.btn__admin{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px 0px;
    &_item{
        background: $orangeClaire;
        color: $orangeDark;
        padding: 8px 32px;
        border