.btn__rdv {
    background:#FDFDFE;
    color: #6D6D6E;
    padding:8px 14px;
    border: 1px solid #6D6D6E;
    font-weight:600;
    font-size: 16px;
    transition:background-color .2s ease;
}

.btn__rdv:hover { 
    background:#060606; 
    color: #DDDBD9;

}

.language_link{
    color: #DDDBD9;
}