.btn__group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn__client {
    background: $greyClaire;
    color: $greyDark;
    padding: 12px 24px;
    border: 1px solid $greyDark;
    text-align: center;
    font-weight:600;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn__client:hover
{ 
    background: $greyDark; 
    color: $greyClaire;

}

.language_link{
    color: $greyNormal;
}

.btn__admin{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px 0px;
    &_item{
        background: $orangeClaire;
        color: $orangeDark;
        padding: 8px 32px;
        border: 1px solid $orangeDark;
        border-radius: 22px;
        text-align: center;
        font-weight:600;
        font-size: 16px;
        transition: background-color 0.3s ease, color 0.3s ease;
        &:hover{
            border: none;
            background: $orangeNormal;
            color: $orangeClaire;
        }
    }
}

.pass__group{
    display: flex;

    input{
        width: 100%;
    }
    button{
        padding: 0px 12px;
    }
}

.language_link_item{
    color: $pinkDark;
}

@media (min-width: 768px) {

    .btn__group {
        flex-direction: row;
        justify-content: center;
        .btn__group a {
            font-size: 16px;
            padding: 12px 24px;
        }
    }
    .btn__admin{
        flex-direction: row;
        justify-content: center;
    }
}


