/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
}
  
a {
    text-decoration: none;
    font-size: 18px;
    color: #060606;
}
  
html {
    scroll-behavior: smooth;
}
    
#map { height: 300px;  width: 600px; }
a {
    text-decoration: none;
}

main{
    width: 95%;
    max-width: 1100px;
    margin-inline: auto;
}

h1{
    font-size: 77px;
    color: 151416;
}

@media (max-width: 991px) {

h1{
    font-size: 32px;
    }
}