/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $secondaryFont;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
    height: 100%;
}
    
body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.container{
    padding: 20px 80px;

}


main{
    flex: 1;
}

h1{
    font-size: 60px;
    color: $greyDark;
    font-family: $primaryFont;
}
h3{
    font-weight: bold;
    color: $greyDark;
    padding: 20px 0px;
}
section{    
    padding: 20px 0px;
}

#map { height: 300px;  width: 600px; }
a {
    text-decoration: none;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: $greyDark;
    font-family: $secondaryFont;
}

footer {
    margin-top: auto; 
    }
.notification{
    color: $pinkNormal;
}
@media (max-width: 991px) {

    .container{
        padding: 20px;
    }

    h1{
        font-size: 32px;
        }
    }
    
    section{    
        text-align: center;
    }

    .section__title{
        font-family: $primaryFont;
        color: $greyNormal;
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 8px;
    }
    .section__subtitle{
        font-family: $primaryFont;
        font-size: 24px;
        font-weight: 600;
        color: $greyDark;
        margin-bottom: 16px;
    }
@media (min-width: 768px) {
    .section__title{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .section__subtitle{
        font-size: 32px;
        margin-bottom: 20px;
    }
    h3{
        padding: 10px 0px;
    }
}
