/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #060606;
}

html {
    scroll-behavior: smooth;
}
    
#map { height: 300px;  width: 600px; }
a {
    text-decoration: none;
}


.container{
    padding: 0px 80px;
}

h1{
    font-size: 67px;
    color: 151416;
    font-family: 'Work Sans', sans-serif;
}


@media (max-width: 991px) {

.container{
    padding: 0px 20px;
}

h1{
    font-size: 32px;
    }
}