.header {
  background:#FFFFFF;
  padding:10px 0px;
  position:relative;
  z-index:1000;
}

.header__nav {
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.header__left {
  display:flex;
  align-items:center;
  gap:20px;
}

.header__nav_logo img {
  width:80px;
  height:80px;
  object-fit:cover;
  border-radius:50%;
}

.language_link {
  font-size:18px;
  font-weight:500;
}



.burger {
  display:none;
  font-size:28px;
  background:none;
  border:0;
  cursor:pointer;
}

.header__nav_menu ul {
  display:flex;
  align-items:center;
  list-style:none;
  gap:20px;

}

.header__nav_menu a{
  background:#FFFFFF;
  font-size: 16px;
  color: $smallTextGrey;
  
  &:hover{
    color: $smallTextGreyHover;
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .header { 
    padding:10px 20px; 
  }
  .burger { 
    display:block; 
  }

  #main-nav {
    display:none;
    position:absolute;
    top:100%;
    left:0; right:0;
    background:#FFFFFF;
    padding:20px;
    border-top:1px solid rgba(0,0,0,.1);
  }
  #main-nav.show { display:block; }

  .header__nav_menu ul {
    flex-direction:column;
    align-items:flex-start;
    gap:15px;
  }

  .header__left,
  .burger {
    position:relative;
    z-index:1001;
    i{
      color: $smallTextGrey;
      &:hover{
        color: $smallTextGreyHover;
      }
    }
  }

  h1{
    font-size: 32px;
    }
  .footer {
    padding: 10px;
    font-size: 12px;
    background-color: aqua;
    }
}

@media (max-width: 991px) {
  .btn__header{
      display: none;
      }
  }