/* HERO */
.hero {
    display: flex;
    gap: 20px;
    text-align: left;
    padding: 20px 0px 40px 0px ;
    &__left{
      flex: 1 1 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }
    &_right{
      flex: 1 1 60%;
      min-height: auto;
}
img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
  &__title {
    font-weight: 600;
}
  &__text {
    font-size: 18px;
  }
}

@media (max-width: 991px) {
    .hero {
        flex-direction: column-reverse;
        &__left,
        &__right {
        flex: 1 1 100%;
        }
        &__text {
          margin-bottom: 20px;
      }
    }
}

/* SERVICES */
.services {
    background-color: #FEEFF2;
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      .service__card {
        width: 335px;  
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        &:hover {
          transform: translateY(-6px);
          transform: scale(1.05);
        }
        .service__img img {
          width: 100%;
          height: 320px;     
          border-radius: 8px;
          object-fit: cover;
          margin-bottom: 15px;
          transition: transform 0.3s ease;
        }
        .service__text {
          font-size: 18px;
          color: #6A524C;
          text-align: left;
          font-weight: 600;
          transition: color 0.3s ease;
        }
        
      }
  }
}
  
  @media (min-width: 768px) {
    .services {
      &__list {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        .service__card{
          flex: 0 0 40%;
        }

      }
    }
  }
  
  @media (min-width: 1200px) {
    
    .services {
        .service__card {
          flex: 0 0 30%;
          .service__img img {
            height: 280px;
          }  
        }
        .service__text {
          font-size: 20px;
        }
    }
  }
  /* GALLERY */
  .gallery-slider {
    position: relative;
    min-width: 335px;
    margin: 0 auto;
    height: 480px;
    overflow: hidden;
    text-align: center;
  }
  
  .gallery-slider img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
  }
  
  .gallery-slider img.active {
    opacity: 1;
    z-index: 1;
  }

  

  .contacts {
    &__content{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
    .contacts__info { 
      text-align: left; 
      font-size: 16px;
      color:$smallTextGrey;
      a { 
        font-size: 16px;
        color:$smallTextGrey;
      }
    }
    .contacts__map { 
      min-height: 280px; 
    }
  }

@media (min-width: 1200px) {
  .contacts {
    padding: 40px 0px;
    &__content{
      flex-direction: row;
      justify-content: space-between;

    }
    .contacts__info{ 
      flex: 0 0 30%;
      font-size: 20px;
      a{
        font-size: 20px;
      }
    }
    .contacts__map { 
      min-height: 320px; 
      flex: 0 0 70%;
    }
  }
}

  