.categorie{
    &__card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
    .prestation__card{
        text-align: left;
        padding: 10px 0px;
    }
    .categorie__libelle{
        text-align: left;
        font-size: 20px;
        color: $sectionTitle;
    }

    p, a{
        font-size: 16px;
        color: $smallTextGrey;
    }
    &__img{
        width: 335px;
        overflow: hidden;
        img{
            object-fit: cover;
            width: 100%;
            height: 360px;
        }
    }
}

.form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    text-align: left;
    &__item{
        padding: 8px 16px;
    }
    label{
        color: $sectionTitle;
        font-size: 18px;
    }

}


@media (min-width: 768px) {
    .categorie{
        &__card{
            display: flex;
            flex-direction: row-reverse;
            gap: 20px;
            justify-content: left;
            align-items: start;
            padding: 20px 0px;
        }
        .categorie__libelle{
            font-size: 30px;
            padding-bottom: 20px;
        }
        .prestation__list{
            flex: 0 0 50%;
        }
        &__img{
            flex: 0 0 50%;
        }
        .prestation{
            display: flex;
            justify-content: space-between;
        }
    }
    .form{
        width: 50%;
    }
}

