$greyClaire: #F3F3F3;
$greyNormal: #B6B6B6;
$greyDark: #373737;

$pinkClaire: #FEEFF2;
$pinkNormal: #FF91A7;
$pinkDark: #FF0033;

$orangeClaire: #FFE7E0;
$orangeNormal: #F25C42;
$orangeDark: #EF2603;
