/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  padding: 20px 80px;
}

main {
  flex: 1;
}

h1 {
  font-size: 60px;
  color: #373737;
  font-family: "Work Sans", sans-serif;
}

section {
  padding: 20px 0px;
}

#map {
  height: 300px;
  width: 600px;
}

a {
  text-decoration: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #373737;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

footer {
  margin-top: auto;
}

@media (max-width: 991px) {
  .container {
    padding: 20px;
  }
  h1 {
    font-size: 32px;
  }
}
section {
  text-align: center;
}

.section__title {
  font-family: "Work Sans", sans-serif;
  color: #B6B6B6;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 8px;
}

.section__subtitle {
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #373737;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .section__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .section__subtitle {
    font-size: 32px;
    margin-bottom: 20px;
  }
}
/* HERO */
.hero {
  display: flex;
  gap: 20px;
  text-align: left;
  padding: 20px 0px 40px 0px;
}
.hero__left {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hero_right {
  flex: 1 1 60%;
  min-height: auto;
}
.hero img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__title {
  font-weight: 600;
}
.hero__text {
  font-size: 18px;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

@media (max-width: 991px) {
  .hero {
    flex-direction: column-reverse;
  }
  .hero__left, .hero__right {
    flex: 1 1 100%;
  }
  .hero__text {
    margin-bottom: 20px;
  }
}
/* SERVICES */
.services {
  background-color: #FEEFF2;
}
.services__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.services__list .service__card {
  width: 335px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.services__list .service__card:hover {
  transform: translateY(-6px);
  transform: scale(1.05);
}
.services__list .service__card .service__img img {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}
.services__list .service__card .service__text {
  font-size: 18px;
  color: #373737;
  text-align: left;
  font-weight: 600;
  transition: color 0.3s ease;
}

@media (min-width: 768px) {
  .services__list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .services__list .service__card {
    flex: 0 0 40%;
  }
}
@media (min-width: 1200px) {
  .services .service__card {
    flex: 0 0 30%;
  }
  .services .service__card .service__img img {
    height: 280px;
  }
  .services .service__text {
    font-size: 20px;
  }
}
/* GALLERY */
.gallery-slider {
  position: relative;
  min-width: 335px;
  margin: 0 auto;
  height: 480px;
  overflow: hidden;
  text-align: center;
}

.gallery-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: 0;
}

.gallery-slider img.active {
  opacity: 1;
  z-index: 1;
}

.contacts__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contacts .contacts__info {
  text-align: left;
  font-size: 16px;
  color: #373737;
}
.contacts .contacts__info a {
  font-size: 16px;
  color: #373737;
}
.contacts .contacts__map {
  min-height: 280px;
}

@media (min-width: 1200px) {
  .contacts {
    padding: 40px 0px;
  }
  .contacts__content {
    flex-direction: row;
    justify-content: space-between;
  }
  .contacts .contacts__info {
    flex: 0 0 30%;
    font-size: 20px;
  }
  .contacts .contacts__info a {
    font-size: 20px;
  }
  .contacts .contacts__map {
    min-height: 320px;
    flex: 0 0 70%;
  }
}
.header {
  background: #fcfcfc;
  margin: 0px -80px;
  padding: 20px 80px;
  position: relative;
  z-index: 1000;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav_logo img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.language_link {
  font-size: 18px;
  font-weight: 500;
}

.burger {
  display: none;
  font-size: 28px;
  background: none;
  border: 0;
  cursor: pointer;
}

.header__nav_menu ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}

.header__nav_menu a {
  background: #FFFFFF;
  font-size: 16px;
  color: #B6B6B6;
}
.header__nav_menu a:hover {
  color: #373737;
  font-weight: bold;
}

@media (max-width: 991px) {
  .header {
    margin: 0px -20px;
    padding: 10px 20px;
  }
  .burger {
    display: block;
  }
  #main-nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #FFFFFF;
    padding: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #main-nav.show {
    display: block;
  }
  .header__nav_menu ul {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .header__left,
  .burger {
    position: relative;
    z-index: 1001;
  }
  .header__left i,
  .burger i {
    color: #B6B6B6;
  }
  .header__left i:hover,
  .burger i:hover {
    color: #373737;
  }
  h1 {
    font-size: 32px;
  }
}
@media (max-width: 991px) {
  .btn__header {
    display: none;
  }
}
.btn__group {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.btn__rdv,
.btn__voirPlus {
  background: #F3F3F3;
  color: #373737;
  padding: 12px 24px;
  border: 1px solid #373737;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn__rdv:hover,
.btn__voirPlus:hover {
  background: #373737;
  color: #F3F3F3;
}

.language_link {
  color: #B6B6B6;
}

.btn__admin {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 0px;
}
.btn__admin_item {
  background: #FFE7E0;
  color: #EF2603;
  padding: 8px 32px;
  border: 1px solid #EF2603;
  border-radius: 22px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn__admin_item:hover {
  border: none;
  background: #F25C42;
  color: #FFE7E0;
}

.pass__group {
  display: flex;
}
.pass__group input {
  width: 100%;
}
.pass__group button {
  padding: 0px 12px;
}

.language_link_item {
  color: #FF0033;
}

@media (min-width: 768px) {
  .btn__group {
    flex-direction: row;
    justify-content: center;
  }
  .btn__group .btn__group a {
    font-size: 16px;
    padding: 12px 24px;
  }
  .btn__admin {
    flex-direction: row;
    justify-content: center;
  }
}
.footer {
  background-color: #F3F3F3;
  color: #B6B6B6;
  text-align: center;
  margin-left: -80px;
  margin-right: -80px;
  padding: 20px 80px;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.footer i {
  color: #B6B6B6;
  width: 24px;
}

@media (max-width: 991px) {
  .footer {
    padding: 10px;
    font-size: 12px;
  }
}
.categorie__card {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.categorie .prestation__card {
  text-align: left;
  padding: 10px 0px;
}
.categorie .categorie__libelle {
  text-align: left;
  font-size: 20px;
  color: #B6B6B6;
}
.categorie p, .categorie a {
  font-size: 16px;
  color: #373737;
}
.categorie__img {
  width: 335px;
  overflow: hidden;
}
.categorie__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 360px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  text-align: left;
}
.form__item {
  padding: 8px 16px;
}
.form label {
  color: #B6B6B6;
  font-size: 18px;
}

@media (min-width: 768px) {
  .categorie__card {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: left;
    align-items: start;
    padding: 20px 0px;
  }
  .categorie .categorie__libelle {
    font-size: 30px;
    padding-bottom: 20px;
  }
  .categorie .prestation__list {
    flex: 0 0 50%;
  }
  .categorie__img {
    flex: 0 0 50%;
  }
  .categorie .prestation {
    display: flex;
    justify-content: space-between;
  }
  .form {
    width: 50%;
  }
}
.gallery__block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.gallery__block_item {
  overflow: hidden;
}
.gallery__block_item img {
  width: 335px;
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
}

.filtre-categories {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.categorie-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.categorie-list.show {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn__filtre {
  color: #B6B6B6;
  font-size: 16px;
  padding: 5px 0px;
}

.filtre-btn {
  color: #B6B6B6;
  display: block;
  font-size: 28px;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 20px 0px;
}

@media (min-width: 768px) {
  .gallery__block {
    gap: 20px;
  }
  .gallery__block_item {
    display: flex;
    flex-direction: column;
  }
  .gallery__block_item img {
    width: 280px;
    height: 300px;
  }
  #categorie-list {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: right;
    gap: 10px;
  }
  .filtre-btn {
    display: none;
  }
  .btn__filtre {
    background: #F3F3F3;
    color: #373737;
    padding: 8px 16px;
    border: 1px solid #373737;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .btn__filtre:hover {
    background: #373737;
    color: #F3F3F3;
  }
}/*# sourceMappingURL=style.css.map */